*{
    margin: 0;
    padding: 0;
    
    font-family: Montserrat, sans-serif;
}
body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 28px; 
    padding-bottom: 28px;
    background-color: hsl(30, 38%, 92%)
    
}
main {
    /*border: 2px solid red;*/
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    display : BLOCK;
    gap:0px;
    width: 375px;
}
#perfum {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
section {
    padding: 36px;
    padding-top: 20px;;
    
    
}
#type-product{
    margin-top: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 1;
    color: hsl(228, 12%, 48%);
    /*word-spacing: 2px;
    line-height: 1.6;*/
}
h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: fraunces;
    font-size: 32px;
    font-weight: 700;
    padding-top: none;;
    line-height: 1;
    
}

.description{
    font-family: Montserrat;
    font-size: 14.4px;
    letter-spacing: 0px;
    line-height: 1.5;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin-top: 20px;
}
#price {
    /* border: 2px solid red; */
    display: flex;
    gap: 10px;
    font-family: Montserrat;
    font-weight: 700;
    gap: 20px;
    margin-top: 20px;
}
.current_price { 
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    font-family: fraunces;
    margin-top: 5px;
    margin-bottom: 5px;
} 
.last_price {
    /* border: 2px solid red; */
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-size: 14.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: line-through;

    }
button {
    display: inline-flex;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    justify-content: center;
    align-items: center;
}
button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
button p {
    font-size: 14px;
}
button:hover {
    background-color: hsl(158, 36%, 47%);
}
button:active {
    background-color: hsl(158, 36%, 37%);
}








